@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto-Regular.ttf);
}

:root {
    --color1: #606c38;
    --color2: #283618;
    --color3: #fefae0;
    --color4: #dda15e;
    --color5: #bc6c25;
}

* {
    font-family: "Roboto";
}

body {
    background-color: var(--color3);
    color: var(--color4);
}

button {
    background-color: var(--color2);
    color: var(--color1);
    border: none;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    font-size: 10px;
    display: flex;
    padding: 0;

    cursor: pointer;
}

#textarea { /*Make this an input instead*/
    text-decoration: none;
    border: none;
    background-color: var(--color3);
    outline: none;
    resize: none;
    scrollbar-width: none;
}

.text {
    margin-left: 400px;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color2);
}

.sidebar {
    /*box*/
    display: flex;
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 1;
    background-color: var(--color1);
    box-shadow: 10px 0 0 var(--color2);
    top: 0;
    /*force to top */
    left: 0;
    /*force to left */
    overflow-x: hidden;
    /*disable hori scroll*/

    /* box items */
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding-left: 20px;

    /* items */
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
}

.top {
    position: fixed;
    top: 0;
    margin-top: 20px;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: inherit;
    margin-bottom: 20px;
    display: flex;
}

.button-sidebar {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
}