@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto-Regular.ttf);
}

:root {
    --color1: #606c38;
    --color2: #283618;
    --color3: #fefae0;
    --color4: #dda15e;
    --color5: #bc6c25;
}

* {
    font-family: "Roboto";
}

body{
    background-color: var(--color3);
    color: var(--color4);
}

button {
    background-color: var(--color4);
    color: var(--color5);
    border: none;
    height: 40px;
    font-size: 20px ;
    cursor:pointer;
}

.text{
    margin-left: 400px;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color2);
}

.sidebar {
    /*box*/
    display: flex;
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 1;
    background-color: var(--color1);
    box-shadow: 10px 0 0 var(--color2);
    top: 0; /*force to top */
    left: 0;/*force to left */
    overflow-x: hidden; /*disable hori scroll*/
    
    /* box items */
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding-left: 20px;

    /* items */
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
}
